
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Leyout.cshtml";
}

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">KIŞLALITECH</div>
        <div class="masthead-heading text-uppercase">Profesyonel Makine Bıçak İmalatı</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Daha Fazlası İçin</a>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Hizmetlerimiz</h2>
            <h3 class="section-subheading text-muted"></h3>

        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-gears"></i>
                    <i class="fas fa-solid fa-gears fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Ölçme Ve Yazılım</h4>
                <p class="text-muted">Mükemmelliği yakalamak için ölçme ve yazılım hizmetlerimizle iş süreçlerinizi optimize ediyoruz. </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Malzeme Analizi Ve Kontrol</h4>
                <p class="text-muted">Malzeme analizi ve kontrol hizmetlerimizle, kullanılan malzemelerin kalitesini ve uygunluğunu güvence altına alıyoruz. </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-calendar-days fa-stack-1x fa-inverse"></i>
                </span>

                <h4 class="my-3">Üretim Planlama</h4>
                <p class="text-muted">Üretim planlama hizmetlerimiz, müşteri ihtiyaçlarına odaklanarak, etkili ve verimli bir üretim süreci oluşturmayı amaçlar.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-industry fa-stack-1x fa-inverse"></i>
                </span>


                <h4 class="my-3">Nihai Kontrol Ve Üretim İmalatı</h4>
                <p class="text-muted">İhtiyaç kontrol ve üretim imalatı hizmetlerimiz, müşterilerimizin özel taleplerini karşılamak üzere tasarlanmıştır. Gelişmiş ihtiyaç analizi ve titiz üretim süreçleriyle, müşterilerimize özelleştirilmiş çözümler sunuyoruz.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>

                <h4 class="my-3">Stok Kontrolü</h4>
                <p class="text-muted">Stok kontrolü hizmetlerimizle, müşterilerimizin envanter yönetimini optimize etmeyi amaçlıyoruz.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-chart-line fa-stack-1x fa-inverse"></i>
                </span>

                <h4 class="my-3">Verimlilik Analizi Ve Önerileri</h4>
                <p class="text-muted">Verimlilik analizi ve önerileri hizmetlerimizle, iş süreçlerinizi detaylı bir şekilde inceleyerek daha etkili ve verimli hale getirmenize yardımcı oluyoruz. </p>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Ürünlerimiz</h2>
            <h3 class="section-subheading text-muted"> </h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Files/assets/img/portfolio/m3.png" alt="..." />
                    </a>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Bıçak Tutucu, Yuva Ve Yatakları</div>
                        <div class="portfolio-caption-subheading text-muted">            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Files/assets/img/portfolio/makina2.png" alt="..." />
                    </a>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Plastik Endüstri Kırıcı Bıçakları</div>
                        <div class="portfolio-caption-subheading text-muted">               </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Files/assets/img/portfolio/mak7.png" alt="..." />
                    </a>


                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Alt ve Üst Karşı Bıçaklar</div>
                        <div class="portfolio-caption-subheading text-muted">           </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Files/assets/img/portfolio/mak9.png" alt="..." />
                    </a>

                    <div class="portfolio-caption">

                        <div class="portfolio-caption-heading">Plastik Endüstri Kırıcı Bıçakları</div>
                        <div class="portfolio-caption-subheading text-muted">            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Files/assets/img/portfolio/mak6.png" alt="..." />
                    </a>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Geri Dönüşüm Endüstiel Makine Bıçakları</div>
                        <div class="portfolio-caption-subheading text-muted">                </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/Files/assets/img/portfolio/makina.png" alt="..." />
                    </a>

                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Rotar Üstü Kırıcı Bıçakları</div>
                        <div class="portfolio-caption-subheading text-muted">                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Hakkımızda</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>           </h4>
                <h4 class="subheading">          </h4>
            </div>
            <div class="timeline-body">
                <p class="text-muted">



                    Yüksek Teknoloji Endüstriyel Makine Bıçakları olarak, kişiselleştirilmiş hizmet ve teknik uzmanlığımızla desteklenen bir misyonla, paketleme, işleme, baskı ve dönüştürme sektörlerine üstün kaliteli endüstriyel makine bıçakları üretmeye kararlıyız. Her bir bıçağımız, endüstriyel makine bıçağı endüstrisinde sahip olduğumuz derin bilgi birikimi ve uzmanlığımızın bir yansımasıdır.

                    Müşterilerimize sunduğumuz bıçaklar, sadece üstün kaliteyle değil aynı zamanda uzmanlıkla şekillendirilmiştir. Endüstriyel makine bıçakları konusundaki deneyimimiz, müşterilerimize en iyi çözümleri sağlama konusundaki kararlılığımızı güçlendirmekte ve dünya çapındaki işletmeler için değerli bir iş ortağı ve güvenilir bir tedarikçi olmamıza olanak tanımaktadır.

                    Bizler, sektördeki güncel teknolojileri ve gelişmeleri yakından takip ederek ürünlerimizi sürekli olarak iyileştirmekte ve müşterilerimize en son endüstri standartlarına uygun ürünler sunmaktayız. Müşteri memnuniyetini her zaman önceliğimiz olarak görmekteyiz ve bu nedenle bıçaklarımızın her aşamasında kalite kontrolü sağlamaktayız.

                    Sizlere benzersiz çözümler sunmak, ihtiyaçlarınıza özel çözümler geliştirmek ve endüstriyel makine bıçağı ihtiyaçlarınızı karşılamak için buradayız. Yüksek kalitemiz, teknik uzmanlığımız ve müşteri odaklı yaklaşımımızla, işletmenizin başarısına katkıda bulunmak için sabırsızlanıyoruz.
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="contact">
    <div class="container">

            <div class="text-center">
                <h2 class="section-heading text-uppercase">İletişim</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3 class="section-heading text-uppercase">Adress</h3>
                        <p class="section-heading text-uppercase">Kocaeli/Gebze</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3 class="section-heading text-uppercase">Email</h3>
                        <p class="section-heading text-uppercase">contact@example.com</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3 class="section-heading text-uppercase">Telefon</h3>
                        <p class="section-heading text-uppercase">05314559316</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up">

                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12070.989521139194!2d29.45335227223307!3d40.85546982179632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb26ffd41d0d0d%3A0x9ea0e1bff5b63394!2sPelitli%2C%2041400%20Gebze%2FKocaeli!5e0!3m2!1str!2str!4v1704122214804!5m2!1str!2str" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>


            </div>

        </div>
</section>